.container{
  border:1px solid black;
  width=75%;
  margin: 0 auto;
  text-align:center;
}

.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
  display:flex;
  flex-wrap:wrap;
  border:1px solid black;
  padding:10px;
  flex-direction:row;
  justify-content:space-around;
}

.flex-blackjack-row-1 img{
  width:25%;
  padding:10px;
}

.flex-blackjack-row-1,.flex-blackjack-row-2{
  background:green;
  color:#ffffff;
}

.flex-blackjack-row-1 div{
  flex:1;
  border:1px solid black;
  padding:10px;
  text-align:center;
  height:350px

}

.flex-blackjack-row-2 button{
  border:1px solid black;
  padding: 10px;
}

.flex-blackjack-row-2 div{
  border:1px solid black;
  padding:10px;
}

table,th,td{
  border:1px solid black;
  padding:5px;
}
